<div class="jumbotron">
    <h1>Basic Swagger API Example Website</h1>
    <p class="lead">This site has the basics of a Swagger Website and consumers</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Swagger documentation</h2>
        <p>The basic API documented by Swagger / Swashbuckle</p>
    </div>
    <div class="col-md-4">
        <h2>Client proxy (from meta swagger data)</h2>
        <p>Ensure this client works with various enum base types</p>
    </div>
</div>
